@{
	ViewData["Title"] = "Test Model Display";
}

<h1 class="text-3xl font-bold text-blue-500">Hello, World</h1>
<p class="text-blue-700">Welcome to the HelloWorld Index view.</p>

<h1>@Model.Name</h1>
<p>ID: @Model.Id</p>
<p>Description: @Model.Description</p>