@model IEnumerable<DisasterAppDev.Models.TestModel>

@{
	ViewData["Title"] = "Test Model Display";
}

<h1 class="text-3xl font-bold text-blue-500">Hello, World</h1>
<p class="text-blue-700">Welcome to the HelloWorld Index view.</p>


@foreach(var item in Model)
{
	<h1>Name: @item.Name</h1>
	<p>ID: @item.Id</p>
	<p>Age: @item.Age</p>
	<p>Description: @item.Description</p>
}
